<h2>@ViewData["Title"]</h2>

<div class="row">
    @foreach (var branch in ViewBag.Branches)
    {
        <div class="card horizontal" style="width: 18rem; height: 13rem;">
            <div class="card-body">
                <h5 class="card-title">@branch.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@branch.Address</h6>
                <p class="card-text">@branch.OpeningHours</p>
            </div>
        </div>
    }
</div>